<div class="container pt-5">
  <div class="row border-bottom ">
    <div class="col-3">
      <h4><%= "#{@keyword}の検索結果" %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-11 offset-1 d-flex flex-wrap mt-4">
      <% @items.each do |item| %>
        <%= link_to item_path(item.id),class: "text-secondary" do%>
          <div class="col-12">
            <p class= "item_image"><%= image_tag item.get_image, size: '213x142' %></p>
            <p class= "item_name"><%= item.name %></p>
            <p class= "item_price">¥<%= item.taxin_price.to_s(:delimited) %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>