<div class="container py-5">
  <div class="row ml-md-5 ml-0 mb-3">
     <h4 class="title col-md-3 col-sm-8 col-10 offset-md-1 offset-sm-2 offset-1 mt-1 mb-md-3 text-center">会員一覧</h4>
  </div>
  <div class="col-12 table-responsive ">
    <table class='table text-nowrap table-hover table-inverse'>
        <tr class="head">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      <tbody>
        <% @customers.each do |customer| %>
          <tr class="t-body mb-sm-0 mb-3">
            <td><%= customer.id %></td>
            <td><%= link_to customer.family_name + customer.first_name,admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
            <td>
               <% if customer.is_deleted == true %>
                 <span class="text-secondary font-weight-bold">
                   <%= "退会" %>
                 </span>
               <% else %>
                 <span class="text-success font-weight-bold">
                   <%= "有効" %>
                 </span>
               <% end %>
            </td>

        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center">
    <%= paginate @customers, outer_window: 3 %>
  </div>
</div>
