<div class="container">
  <div class="row">
    <div class="col-8 justify-content-center">
      <h4 class="col-5 offset-1 text-center", style="background-color: #f1f1f1">ジャンル一覧・追加</h4>

      <div class="col-9" >
      <%= form_with model: @genre, url: '/admin/genres' do |f| %>
      <p class="form-group my-5">
        <%= f.label :name, "ジャンル名", class: "font-weight-bold" %>
        <%= f.text_field :name, placeholder: 'ジャンル名', class: "mx-5" %>
        <%= f.submit '新規登録', class: 'btn btn-success' %>
      </p>
      <% end %>
      </div>
      <div class="col-5">
        <table class="table table-hover border-bottom">
        <thead class=""style="background-color: #f1f1f1">
          <tr>
            <th class="text-center">ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td class="align-middle">
              <%= genre.name %>
            </td>
            <td>
              <%= link_to '編集する', edit_admin_genre_path(genre.id), class: 'btn btn-success' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>

  </div>
</div>