<div class='container px-5 my-5 px-sm-0'>
  <div class='row'>
    <div class='col-lg-2 col-md-2 col-sm-12 col-12 offset-md-0 offset-1 mb-5'>
      <table class= "genre_search">
        <tr class="head">
          <th class= "text-center"><i class="fa-solid fa-grip-vertical" style="color: #4c2e30;"></i> ジャンル検索</th>
        </tr>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to genre_path(genre.id),class: "text-secondary"  do%>
                <%= genre.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class= 'col-lg-9 col-md-8 col-sm-10 col-9 offset-lg-1 offset-md-2 offset-1'>
      <h4 class="mb-4">ジャンル検索 [<%= @genre.name %>]<span style= font-size:20px>(全<%= @genre.items.count %>件)</span></h4>


     <div class= 'row'>
      <% @genre_pages.each do |item| %>

        <div class="col-lg-3 col-md-6 col-sm-6 col-12 offset-sm-0 offset-2">
          <%= link_to item_path(item.id),class: "text-secondary" do %>
            <p class= "item_image"><%= image_tag item.get_image, size: '213x142' %></p>
            <p class= "item_name"><%= item.name %></p>
            <p class= "item_price">¥<%= item.taxin_price.to_s(:delimited) %></p>
          <% end %>
        </div>
      <% end %>
     </div>
     <div class="row justify-content-center">
       <%= paginate @genre_pages %>
     </div>
    </div>
  </div>
</div>