<%= form_with model: address do |f| %>
 <div class="col-md-10 col-12">
  <div class="d-flex flex-wrap bd-highlight mb-2">
  <span class="flex-fill bd-highlight col-lg-3 col-md-3 col-sm-12 col-12 mr-md-5">郵便番号(ハイフンなし)</span>
  <%= f.text_field :post_code, :placeholder => "0000000", class: "form-controll flex-fill bd-highlight col-md-3 col-12" %>
  </div>
  <div class="d-flex flex-wrap bd-highlight mb-2">
  <span class="flex-fill bd-highlight col-lg-3 col-md-3 col-sm-12 col-12 mr-md-5">住所</span>
  <%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0", class: "form-controll flex-fill bd-highlight" %>
  </div>
  <div class="d-flex flex-wrap bd-highlight">
  <span class="flex-fill bd-highlight col-lg-3 col-md-3 col-sm-12 col-12 mr-md-5">宛名</span>
  <%= f.text_field :name, :placeholder => "令和道子", class: "form-controll flex-fill bd-highlight col-md-3 col-12" %>
  </div>
  </div>
  <div class="d-flex justify-content-end">
  <%= f.submit "新規登録",class: 'form_control bd-highlight btn btn-success px-5 my-md-0 my-4', size: "50" %>
  </div>
<% end %>