 <div class="container">
   <div class="row justify-content-center">
     <div class="col-1"></div>
     <div class="col-md-3 mt-5 mb-5 font-weight-bold text-center">
       <h4 class="title">注文情報確認</h4>
     </div>
     <div class="col-md-8"></div>
     <div class="col-xs-12 col-md-9">
       <table class="table table-bordered">
        <thead class="head">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody class="t-body">
          <% @sum = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="align-middle">
              <%= image_tag cart_item.item.get_image, size: "64x42" %>
              <%= cart_item.item.name %>
            </td>
            <td class="align-middle">
              <%= cart_item.item.taxin_price.to_s(:delimited) %>
            </td>
            <td class="align-middle">
              <%= cart_item.quantity %>
            </td>
            <td class="align-middle">
              <%= cart_item.subtotal.to_s(:delimited) %>
              <% @sum += cart_item.subtotal %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
     </div>
     <div class="col-xs-12 col-md-3 mb-3">
       <table class="table table-bordered">
    <tr>
      <th class="head">送料</th>
      <td class="t-body"><%= @order.postage %></td>
    </tr>
    <tr>
      <th class="head">商品合計</th>
      <td class="t-body"><%= @sum.to_s(:delimited) %></td>
    </tr>
    <tr>
      <th class="head">請求合計</th>
      <td class="t-body"><%= (@sum + @order.postage).to_s(:delimited) %></td>
    </tr>
</table>
     </div>
     <span class="col-xs-5 col-md-2 font-weight-bold">支払方法</span>
     <div class="col-xs-4 col-md-10 mb-5">
       <%= @order.payment_method_i18n %>
     </div>

     <span class="col-xs-5 col-md-2 font-weight-bold">お届け先</span>
     <div class="col-xs-4 col-md-10">
       〒<%= @order.post_code %>
       <%= @order.address %></br>
       <%= @order.post_name %>
     </div>
     <%= form_with model: @order_new , url: "/orders", local:true do |f| %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.hidden_field :postage, value: @order.postage %>
      <%= f.hidden_field :post_code, value: @order.post_code %>
      <%= f.hidden_field :total_price, value: @sum + @order.postage %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :post_name, value: @order.post_name %>
      <%= f.hidden_field :status, value: "pay_waiting" %>
      <%= f.submit "注文を確定する", class: "mt-3 mb-3 btn btn-success" %>
    <% end %>
   </div>
 </div>


