<div class="container">
  <div class="row justify-conetnt-center">
    <div class="col-md-3 offset-1 mt-5 mb-5 font-weight-bold text-center">
      <h4 class="title">注文情履歴一覧</h4>
    </div>
    <div class="col-md-12 col-xs-12">
      <table class="table table-bordered">
        <thead class="head">
          <tr>
            <th class="align-middle">注文日</th>
            <th class="align-middle">配送先</th>
            <th class="align-middle">注文商品</th>
            <th class="align-middle">支払金額</th>
            <th class="align-middle">ステータス</th>
            <th class="align-middle">注文詳細</th>
          </tr>
        </thead>
        <tbody class="t-body">
          <% @orders.each do |order| %>
          <tr>
            <td class="align-middle">
              <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td class="align-middle">
              〒<%= order.post_code %></br>
              <%= order.address %></br>
              <%= order.post_name %>
            </td>
            <td class="align-middle">
              <% order.order_items.each do |order_item| %>
                <%= order_item.item.name %></br>
              <% end %>
            </td>
            <td class="align-middle">
              <%= order.total_price.to_s(:delimited) %>円
            </td>
            <td class="align-middle">
               <%= order.status_i18n %>
             </td>
            <td class="text-center align-middle">
              <%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <div class="d-flex bd-highlight justify-content-center mb-2">
      <%= paginate @orders %>
    </div>
    </div>
  </div>
</div>



