
<h4>ログイン</h4>
<p>会員の方はこちらからログイン</p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="table table-borderless">
    <tr>
      <div class="field">
        <td>
          <%= f.label :email, "メールアドレス" %>
        </td>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com" %>
        </td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td>
        <%= f.label :password, "パスワード" %>
        </td>
        <td>
        <%= f.password_field :password, autocomplete: "current-password" %>
        </td>
      </div>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
<p>会員登録がお済みでない方</p>
<p><%= render "public/shared/links" %>　から新規登録を行ってください。</p>


