
<div class='container px-5 my-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-2'>
      <p class= "border border-dark text-center">ジャンル検索</p>
      <div class= "border border-dark text-center">
        <% @genres.each do |genre| %>
          <p><%= genre.name %></p>
        <% end %>
      </div>
    </div>
    
    <div class= 'col-md-10'>
      <h4>商品一覧<span style= font-size:20px>(全<%= @items.count %>件)</span></h4>
      

     <div class= 'row'>
      <% @items.each do |item| %>
       
        <div class="col-md-3">
          <%= link_to item_path(item.id) do %>
            <p class= "item_image"><%= image_tag item.get_image, size: '213x142' %></p>
            <p class= "item_name"><%= item.name %></p>
            <p class= "item_price">¥<%= item.taxin_price.to_s(:delimited) %></p>
          <% end %>
        </div>
      <% end %>
     </div>
    </div>


<%= paginate @items %>