
<header>
  <% if admin_signed_in? %>
    <% if request.fullpath.include? "/admin" %> <!--adminでログイン/admin/～にいる-->
      <div class="container-fluid">
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light w-100 d-flex flex-wrap">
            <div class="col-md-2 col-12 justify-content-center pull-left flex-fill">
              <%= link_to admin_root_path do %>
                <%= image_tag 'kari.png',size: "160x102" %>
              <% end %>
            </div>
            <div class="col-lg-9 col-md-10 col-12 offset-lg-1 offset-0 flex-fill justify-content-end">
              <button class="navbar-toggler offset-10 mb-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
              </button>
              <div class="row collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav col-12 justify-content-end">
                  <div class="d-flex flex-wrap col-md-11 justify-content-end text-center">
                    <p class="col-lg-2 col-12 px-0 flex-fill">
                      <%= link_to "商品一覧", admin_items_path, class: "text-white" %>
                    </p>
                    <p class="col-lg-2 col-12 px-0 flex-fill">
                      <%= link_to "会員一覧", admin_customers_path, class: "text-white" %>
                    </p>
                    <p class="col-lg-2 col-12 px-0 flex-fill">
                      <%= link_to "注文履歴一覧", admin_root_path, class: "text-white" %>
                    </p>
                    <p class="col-lg-2 col-12 px-0 flex-fill">
                      <%= link_to "ジャンル一覧", admin_genres_path, class: "text-white" %>
                    </p>
                    <p class="col-lg-2 col-12 px-0 flex-fill">
                      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-white" %>
                    </p>
                  </div>
                </ul>
              </div>
              <div class="row justify-content-end mr-md-1">
                <div class="search_form col-lg-3 col-md-4 col-11">
                  <%= form_with url: admin_searches_path,method: :get do |f| %>
                    <%= f.search_field :keyword ,placeholder: "Search" %>
                    <% f.submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    <% else %>
      <div class="container-fluid"><!--adminでログイン/admin/～にいない（カスタマー画面を見ている状態）-->
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light w-100 d-flex flex-wrap">
            <div class="col-md-2 col-12 justify-content-center pull-left flex-fill">
              <%= link_to root_path do %>
                <%= image_tag 'kari.png',size: "160x102" %>
              <% end %>
            </div>
            <div class="col-md-3 col-12 flex-fill">
              <p class="text-white flex-fill col-md-12 col-12 text-center"></p>
            </div>
            <div class="col-md-7 col-12 flex-fill ">
              <button class="navbar-toggler offset-10 mb-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
              </button>
              <div class="row collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav col-12 justify-content-end">
                  <div class="d-flex flex-wrap col-md-8 justify-content-end text-center">
                    <p class="col-lg-3 col-12 flex-fill px-0">
                      <%= link_to "About", about_path, class: "text-white" %>
                    </p>
                    <p class="col-lg-3 col-12 flex-fill px-0">
                      <%= link_to "商品一覧", items_path, class: "text-white" %>
                    </p>
                    <p class="col-lg-3 col-12 flex-fill px-0">
                      <%= link_to "管理者画面", admin_root_path, class: "text-white" %>
                    </p>
                    <p class="col-lg-3 col-12 px-0 flex-fill">
                      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-white" %>
                    </p>
                  </div>
                </ul>
              </div>
              <div class="row justify-content-end mr-xl-1 mr-md-5">
                <div class="search_form col-lg-3 col-md-4 col-11">
                  <%= form_with url: searches_path,method: :get do |f| %>
                    <%= f.search_field :keyword ,placeholder: "Search" %>
                    <% f.submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    <% end %>
  <% elsif  customer_signed_in? %>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light w-100 d-flex flex-wrap">
          <div class="col-md-2 col-12 justify-content-center pull-left flex-fill">
            <%= link_to root_path do %>
              <%= image_tag 'kari.png',size: "160x102" %>
            <% end %>
          </div>
          <div class="col-lg-3 col-md-4 col-12 flex-fill">
            <p class="text-white flex-fill col-md-12 col-12 text-center">ようこそ、<%= current_customer.family_name %>さん！</p>
          </div>
          <div class="col-lg-7 col-md-6 col-12 flex-fill ">
            <button class="navbar-toggler offset-10 mb-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" ></span>
            </button>
            <div class="row collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav col-12 justify-content-end">
                <div class="d-flex flex-wrap col-md-11 justify-content-end text-center">
                  <p class="col-lg-3 col-12 flex-fill">
                    <%= link_to "マイページ", customers_path, class: "text-white" %>
                  </p>
                  <p class="col-lg-3 col-12 flex-fill">
                    <%= link_to "商品一覧", items_path, class: "text-white" %>
                  </p>
                  <p class="col-lg-3 col-12 flex-fill">
                    <%= link_to "カート", cart_items_path, class: "text-white" %>
                  </p>
                  <p class="col-lg-3 col-12 flex-fill">
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "text-white" %>
                  </p>
                </div>
              </ul>
            </div>
            <div class="row justify-content-end mr-xl-1 mr-md-5">
              <div class="search_form col-lg-3 col-md-4 col-11">
                <%= form_with url: searches_path,method: :get do |f| %>
                  <%= f.search_field :keyword ,placeholder: "Search" %>
                  <% f.submit %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  <% else %> <!--以下adminでもcustomerでもログインしてない状態-->
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light w-100 d-flex flex-wrap">
          <div class="col-md-2 col-12 justify-content-center pull-left flex-fill">
            <%= link_to root_path do %>
              <%= image_tag 'kari.png',size: "160x102" %>
            <% end %>
          </div>
          <div class="col-md-2 col-12 flex-fill">
            <p class="text-white flex-fill col-md-12 col-12 text-center"></p>
          </div>
          <div class="col-md-8 col-12 flex-fill ">
            <button class="navbar-toggler offset-10 mb-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" ></span>
            </button>
            <div class="row collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav col-12 justify-content-end">
                <div class="d-flex flex-wrap col-md-8 justify-content-end text-center">
                  <p class="col-lg-3 col-12 flex-fill">
                    <%= link_to "About", about_path, class: "text-white" %>
                  </p>
                  <p class="col-lg-3 col-12 flex-fill">
                    <%= link_to "商品一覧", items_path, class: "text-white" %>
                  </p>
                  <p class="col-lg-3 col-12 flex-fill">
                    <%= link_to "新規登録", new_customer_registration_path, class: "text-white" %>
                  </p>
                  <p class="col-lg-3 col-12 flex-fill">
                    <%= link_to "ログイン", new_customer_session_path, class: "text-white" %>
                  </p>
                </div>
              </ul>
            </div>
            <div class="row justify-content-end mr-xl-1 mr-md-5">
              <div class="search_form col-lg-3 col-md-4 col-11">
                <%= form_with url: searches_path,method: :get do |f| %>
                  <%= f.search_field :keyword ,placeholder: "Search" %>
                  <% f.submit %>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  <% end %>
</header>
