<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5f8827088c.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column">
    <%= render 'layouts/header' %>
    <%= render 'layouts/notification' %>
    <div id="main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
